<dl>
    <span ng-if="m.repository || m.city">
        <dt>Location</dt><dd>{{m.repository && m.repository + ', '}}{{m.city}}</dd>
    </span>
    <span ng-if="m.roll">
        <dt>Roll Number</dt>
        <dd title="{{rolls.length>1 && 'This manuscript was filmed in multiple segments.' || ''}}">
            {{rolls.join(', ')}}
        </dd>
    </span>
    <span ng-if="m.oclc && m.oclc > 0">
        <dt>SLU OCLC</dt>
        <dd>
        <a class="btn btn-default" target="_blank"
           ng-href="http://libcat.slu.edu/search/Y?searchtype=o&searcharg={{m.oclc}}&searchscope=5&submit=search&SORT=D">
            <i class="fa fa-external-link"></i>
        </a>
    </dd>
    </span>
            <button class="pull-left btn btn-xs btn-link" ng-click="showpre=!showpre" title="Decoded Record">
                <i class="fa fa-code"></i>
    </button>
    <pre collapse="!showpre">
                {{m|json}}
    </pre>
    </dl>
