html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 160px;
}
div.results {
    -webkit-columns: 300px;
    -moz-columns: 300px;
    columns: 300px;
}
figure img {
    max-width:100%;
    max-height: 100%;
}
.btn-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}
.fadeInOut.ng-enter,.fadeInOut.ng-hide-remove{
    animation: fadeIn .5s;
}
.fadeInOut.ng-leave,.fadeInOut.ng-hide-add{
    animation: fadeOut .5s;
}
.single-result {
    position: absolute;
    width: 90%;
    margin: 15px;
    border: solid 2px #ada;
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    font-size: 1.68rem;
}
.single-result:hover {
    background: #eFe;
    text-decoration: none;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
    body.terminal{
        font-family: 'PrintChar21', monospace;
    }
}
a[href],a[ng-click]{
    cursor: pointer;
}
.positioned{
    position:relative;
}
property label {
    z-index: 1; /* hover gets lost in floats */
}
footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    padding: 15px;
    background-color: rgba(60,60,60,.85);
}